<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Doggy Table</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" />
</head>
<body>
<section class="hero is-primary">
    <div class="hero-body">
        <h1 class="title">cute doggy table</h1>
    </div>
</section>
<section class="container">
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Breed</th>
            <th>Weight</th>
            <th>Good For Apt.</th>
        </tr>
        <tr th:each="dog : ${dogList}">
            <td th:text="${dog.id}"/>
            <td th:text="${dog.breed}"/>
            <td th:text="${dog.weight}"/>
            <td th:text="${dog.apartmentSuitable}"/>
        </tr>
    </table>
</section>
</body>
</html>